* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.title {
    font-size: 175%;
    text-align: center;
}

.container {
    float: left;
    margin-top: 80px;
    color: aliceblue;
}

.container-chicken {
    float: left;
    border: 1px solid black;
    background: #717d76;
    width: 30%;
    height: 150px;
    margin-right: 5%;
}

.container-beef {
    float: left;
    border: 1px solid black;
    background: #717d76;
    width: 30%;
    height: 150px;
    margin-right: 5%;
}

.container-sushi {
    float: left;
    border: 1px solid black;
    background: #717d76;
    width: 30%;
    height: 150px;
}

.sub-title {
    font-size: 125%;
    border: 1px solid black;
    width: 60%;
    margin-top: 0;
    text-align: center;
    float: right;
    background-color: red;
}

.container-chicken > .sub-title {
    background-color: violet;
}
.container-beef > .sub-title {
    background-color: green;
}

p {
    padding: 30px 20px 5px 20px;
    text-align: justify;
}

@media (min-width: 768px) and (max-width: 991px){
    .container-chicken {
        float: left;
        border: 1px solid black;
        background: #717d76;
        width: 48%;
        height: 130px;
        margin-right: 0;
    }
    
    .container-beef {
        float: right;
        border: 1px solid black;
        background: #717d76;
        width: 48%;
        height: 130px;
        margin-right: 0;
    }
    
    .container-sushi {
        float: left;
        border: 1px solid black;
        background: #717d76;
        width: 100%;
        height: max-content;
        margin-top: 4%;
    }

    .container-sushi > .sub-title {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .container-chicken {
        float: left;
        border: 1px solid black;
        background: #717d76;
        width: 100%;
        height: fit-content;
        margin-top: 4%;
    }
    
    .container-beef {
        float: left;
        border: 1px solid black;
        background: #717d76;
        width: 100%;
        height: fit-content;
        margin-top: 4%;
    }
    
    .container-sushi {
        float: left;
        border: 1px solid black;
        background: #717d76;
        width: 100%;
        height: fit-content;
        margin-top: 4%;
    }

}